*::before,
*::after {
    box-sizing: border-box;
}

* {
    text-shadow: -0.1vh -0.1vh 0 black, 0.1vh -0.1vh 0 black,
        -0.1vh 0.1vh 0 black, 0.1vh 0.1vh 0 black;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
    margin: 0;
}

html,
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* for the video element, only works on firefox?? */
}

content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

body {
    background-color: #000;
    font-family: 'Doppio One';
    width: 100%;
    color: #eee;
}

hr {
    border: none;
    border-bottom: 0.1vh solid #eee;
    margin: 0.5vh auto 0.5vh auto;
    opacity: 0.5;
}

.bar-header {
    text-align: center;
}

.bar-logo {
    filter: saturate(1.6);
    width: 40vh;
}

.bar-subtitle {
    font-size: 3.5vh;
    font-weight: normal;
}

main {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 3vh;
}

.bar-section {
    text-align: center;
}

.bar-section-title {
    font-size: 4vh;
    font-weight: normal;
}

.bar-section-grid {
    width: 30vw;
    padding: 0vh 0;
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bar-item {
    width: 15vw;
    display: flex;
    text-align: left;
    padding: 1vh 0vw;
    align-items: center;
}

.bar-item-title {
    margin-bottom: 0.12vh;
    font-size: 2.5vh;
}
.bar-item-size {
    font-size: 2.2vh;
}
.bar-item-price {
    font-size: 2vh;
}

.bar-item-logo {
    margin-right: 0;
    height: 7vh;
    width: 5vw;
}

.bar-item-logo img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin: auto;
}

.canadian {
    position: relative;
    top: -2vh;
    left: 2.25vw;
    height: 40% !important;
    width: 40% !important;
}

.bar-item-skull {
    vertical-align: middle;
    width: 1.42vh;
    margin-left: 0.1vh;
    margin-right: 0.2vh;
    margin-top: -0.18vh;
}

.bar-background-video {
    position: absolute;
    width: 100%;
    z-index: -1000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(2);
    opacity: 0.33;
}

.bar-footer {
    text-align: center;
    font-size: 2.2vh;
}

@media (max-width: 1000px) {
    .bar-section-grid {
        width: 80vw;
    }

    .bar-item {
        width: 50vw;
    }
}
